{{ if .Page.Params.show_featured_story_popup }}
  {{ $publish_target := .Page.Params.featured_content_publish_target | default .Site.Params.featured_content_publish_target | default "eclipse_org" }}
  <efsc-featured-story-popup
    autoopen='{"xs":false,"md":true}'
    variant="tertiary"
    publishtarget="{{ $publish_target }}"
    type="popup"
  ></efsc-featured-story-popup>
  <style>
    :root {
      /* Due to neptune's footer arch we need to add an offset so that the popup doesn't feels just cropped */
      --efsc-popup-bottom-offset: 18rem;
    }
  </style>
{{ end }}
